<!DOCTYPE html>
<html>

<head>

    <title>Dashboard - AI Study Planner</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <h1>Student Dashboard</h1>

    <p>Welcome to your AI Study Planner!</p>

    <br>


    <a
        href="/subjects"
        class="dashboard-button"
    >
        My Subjects
    </a>


    <button class="dashboard-button">
        My Schedule
    </button>


    <button class="dashboard-button">
        Progress
    </button>

    <br><br>

<a href="/logout" class="dashboard-button">
    Logout
</a>


    <script
        src="{{ url_for('static', filename='script.js') }}"
    ></script>

</body>

</html>