<!DOCTYPE html>
<html>

<head>
    <title>Signup - AI Study Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Create Account</h1>

    <form class="login-form">

        <label>Name:</label>
        <input type="text">

        <br><br>

        <label>Email:</label>
        <input type="email">

        <br><br>

        <label>Password:</label>
        <input type="password">

        <br><br>

        <button type="submit">Sign Up</button>

    </form>

</body>

</html>